.container {
    width: 400px;
    margin:100px auto;
}
.res,.op {
    background-color: #eee;
    display: block;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.res {
    height: 30px;
    font-size: 18px;
    border-bottom: 1px solid rgba(48, 39, 39, 0.165);
}
.op {
    height: 40px;
    font-size: 30px;
    font: bold;
}
.calc {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    background-color: orange;
    padding: 8px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    width: 90px;
    height: 35px;
    background-color: #eee;
}